<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p> Marin Guta is a Junior at Mercer University and anticipates on graduating from the Center of Collaborative Journalism in May 2016. She strives to diversify her skillset which is why she is pursuing a journalism major and doubling minoring in english and political science.</p>
                <p> During Marin's freshman summer, she interned with The Tampa Bay Business Journal. The next summer she was one of the eight applicants selected for a 10-week internship at American City Business Journals. Marin is the online editor for her school newspaper, The Cluster. She has also written some business spotlight articles for The Telegraph </p>
                <p> When Marin is not writing stories, she enjoys running, baking and watching romantic comedies. </p>
            </div>
        </div>
    </div>

    <hr>