    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="http://www.macon.com/2014/10/07/3350132/mercer-students-family-seeking.html">
                        <h2 class="post-title">
                            Mercer student's family seeking seizure relief in Colorado 
                        </h2>
                        <h3 class="post-subtitle">
                            For as long as Mercer University junior Katie Callaway can remember, her younger sister, Maggie Callaway, has suffered from a relentless seizure disorder.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by The Telegraph on October 7, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="http://www.bizjournals.com/tampabay/print-edition/2014/08/01/usf-s-center-for-cyber-security-leads-the-battle.html">
                             USF's center for cyber security leads the battle against online crime
                        </h2>
                        <h3 class="post-subtitle">
                            The Florida Center for Cybersecurity at the University of South Florida is set to deliver a talent pool to businesses located in the most cybercrime-prone state in the country.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">The Tampa Bay Business Journal on August 1, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="http://www.bizjournals.com/tampabay/news/2014/08/01/tampa-bay-comic-con-expects-to-reel-in-50-000.html">
                            Tampa Bay Comic Con expects to reel in 50,000 visitors 
                        </h2>
                        <h3 class="post-subtitle">
                            The sweltering Florida heat could not dissuade fans from suiting up in their costumes and queuing outside the Tampa Convention Center for the opening of Tampa Bay Comic Con 2014.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Tampa Bay Business Journal</a> on August 1, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="http://mercercluster.com/2014/03/19/a-cross-country-bike-ride/">
                           A cross-country bike ride 
                        </h2>
                        <h3 class="post-subtitle">
                           As 26-year-old Evan Ayoub biked up one of the many steep hills in Anniston, Ala., he came to two realizations: his knee was in excruciating pain and he was only 200 mi. into his 4,850-mile tour.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">The Cluster</a> on March 19, 2013</p>
                <hr>
                 <div class="post-preview">
                    <a href="http://www.gpb.org/news/2014/01/07/for-macon-nun-sundays-are-all-about-others">
                        <h2 class="post-title">
                            For a Macon Nun, Sundays Are All About Others 
                        </h2>
                        <h3 class="post-subtitle">
                            Sister Elizabeth Greim is one of a handful of nuns living in Macon. She prays, meditates and goes to Mass every day, but her Sundays are a bit different
                        </h3>
                    </a>
                    <p class="post-meta">Posted by The Georgia Public Broadcasting on January 7, 2014</p>
                </div>
                </div>
            </div>
        </div>
    </div>

    <hr>