 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p> <h2 class="section-heading"> Experience</h2>             
                <p><strong>The Cluster's online editor (Aug. 2014 - now) </strong></p>
                <ul>
                    <li>Launched marketing campaigns to help build The Cluster's social media presence </li>
                    <li>Conducted analytic reports to monitor reader's online habits </li>
                    <li>Update website with breaking news articles and write breaking news articles</li>
                    <li>Manage the newspaper's social media accounts</li>
                </ul>
                
                 <p><strong> Editorial Intern at American City Business Journals (four months) </strong></p>
                    <ul>
                        <li>Selected for a paid internships with the American City Business Journals.</li>
                        <li>Focused on business news related for nonprofits and education </li>
                        <li>Wrote beat-related, breaking stories for the newspaper's daily online edition</li>
                        <li>Tracked business activity for more than 20 locally headquartered public companies </li>
                        <li> Assisted in compiling information for TBBJ's monthly focus sections and special                                      publications</li></ul>
                
                <p><strong>Editorial Intern at Tampa Bay Business Journal (May - July 2013)</strong></p>
                    <ul>
                    <li>Wrote beat-related, breaking stories for the newspaper's daily online edition </li>
                    <li>Tracked business activity for more than 20 locally headquartered public companies </li>
                    <li>Assisted in compiling information for TBBJ's monthly focus sections and special publications</li>
                </ul>
                
              <p> <h2 class="section-heading">Education</h2>
                <p><b> Mercer University, Center for Collaborative Journalism; Macon, Ga.</b></p>
                <p> Bachelor of Arts in Journalism, Minors in Political Science and English, May 2016; Overall GPA: 3.9, Major GPA: 4.0 </p>
                
            <p> <h2 class="section-heading">Skills</h2>
            <p> Experienced at writing on deadline. Basic understanding in Ruby, HTML, CSS, Movable Type, Microsoft Office suite.</p>
            
            <h2 class="section-heading">References </h2>
            <p> Debbie Blankenship, Newsroom Cordinator<i>The Telegraph</i><br />
                blankenship_dr@mercer.edu</p>
            
            <p> Tim Regan-Porter, Director of Center for Collaborative Journalism<br />
                porter_tm@mercer.edu</p>
                
            <p> Pam Huff, Director of News Operations at <i>Tampa Bay Business Journal</i><br  />
                Pphuff@bizjournals.com</p>

            </div>
        </div>
    </div>

    <hr>